.smallSplit {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.largeSplit {
  height: 100%;
  width: 75%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: fixed;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #ec2127;
  color: white;
}

.right {
  right: 0;
  background-image: url("../../../assets/Images/5242611833_e7ce189d3e_o.jpg");
  background-size: 100% 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

form {
  font-family: BebasNeueRegular;
}
