<div class="smallSplit left">
  <div class="centered">
    <h1 class="title">D&D App</h1>
    <h2 class="subTitle">Login</h2>

    <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" >
      <input type = "text" name = "usernameid" placeholder = "Username" ngModel>
      <br/>
      <input type = "password" name = "passwd" placeholder="Password" ngModel>
      <br/>
      <br/>
      <input type = "submit" value = "Submit">
    </form>

  </div>
</div>
<div class="largeSplit right">

</div>
