<nav class="navbar navbar-expand-md bg-red navbar-dark">

  <a class="navbar-brand" href='#'>

    <img src="../../../favicon.ico" alt="D&D" style="width:25px;">

  </a>

    <ul class="navbar-nav">

      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Players</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Campaign</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Character Generator</a>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>

  </nav>
